$main-color: #fe0d22;
$font-color: #fff;

body {
    font-family: "Noto Serif", serif;
    color: $font-color;
    font-size: 16px;
    background-color: #00010a;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
    &.lock{
        overflow: hidden;
    }
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: $font-color;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

ul[class],
ol[class] {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    height: 768px;
}

.header__inner {
    padding-top: 45px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list-item {
    display: inline-block;
    & + .nav__list-item {
        margin-left: 20px;
    }
}
.nav__list-link {
    position: relative;
    &::after {
        content: "";
        width: 0;
        height: 3px;
        background-color: $main-color;
        position: absolute;
        right: 0;
        left: auto;
        bottom: -5px;
        transition: all 0.3s linear;
    }
    &:hover {
        &::after {
            width: 100%;
            right: auto;
            left: 0;
        }
    }
}

.phone-link {
    font-weight: 700;
    font-size: 25px;
    margin-right: 25px;
}

.btn {
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
    outline: none;
    padding: 15px 35px;
    border-radius: 2.8em;
}
.btn__order {
    color: $font-color;
    border: 1px solid $main-color;
    background: transparent;
    transition: all 0.5s;
    &:hover {
        background: $main-color;
    }
}
.header__content {
    padding-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header__content-info {
    width: 60%;
}
.header__photo {
    width: 40%;
}
.header__content-title {
    font-size: 75px;
    line-height: 100px;
}
.header__content-subtitle {
    font-size: 25px;
    line-height: 54px;
    color: #8993ad;
}
.header__content-btn {
    display: inline-block;
    border: none;
    background-color: $main-color;
    color: $font-color;
    margin-top: 40px;
    transition: all 0.4s linear;
    border-radius: 2.8em;
    
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
                animation: heartbeat 1.5s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }

  }

.header__content-social {
    margin-top: 30px;
    display: flex;
}

.header__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all 0.2s linear;
    img {
        width: 25px;
        height: 25px;
    }
    &:hover {
        border-radius: 30%;
    }
}

.ido {
    padding: 70px 0;
}

.ido__inner {
    text-align: center;
}
.section__title {
    font-size: 54px;
    margin-bottom: 50px;
}
.ido__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.ido__content-item {
    max-width: 280px;
}
.ido_content-img {
    max-width: 100px;
    margin: 0 auto;
}
.ido__content-text {
    padding-top: 15px;
}

.ido__btn {
    border: none;
    background-color: $main-color;
    display: inline-block;
    transition: all 0.4s linear;
    &:hover {
        box-shadow: 0px 0px 44px 0px rgba($color: $main-color, $alpha: 0.75);
        transform: scale(1.1);
    }
    
    
}
@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }

  }
.portfolio {
    padding-bottom: 60px;
    .container {
        padding: 0;
    }
}

.portfolio__inner {
    text-align: center;
}

.portfolio__item {
    img {
        width: 100%;
    }
}

.slick-dots {
    display: flex;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;
    color: transparent;
    li {
        margin: 0 10px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        &.slick-active {
            button {
                background: #fff;
            }
        }
    }
    button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #fff;
        background: transparent;
        outline: none;
    }
}

.swipe {
    max-width: 50px;
    margin: 0 auto 30px;
    transition: all 0.5s;
    animation: swipe 1.5s ease-in infinite alternate;
}

@keyframes swipe {
    0% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(30px);
    }
}

.price {
    overflow-y: hidden;
    padding: 60px 0;
    background: repeating-linear-gradient(to right top, $main-color 0 15%, #141414 75% 100%);
    text-align: center;
}

.price__title {
    font-size: 45px;
    line-height: 60px;
}
.price__subtitle {
    font-size: 18px;
    line-height: 30px;
}

.quote {
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../images/quote-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 0;
}
.quote__img {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    background-color: $main-color;
    img {
        width: 30px;
    }
}
.quote__title {
    font-size: 24px;
    margin: 15px 0;
}
.quote__subtitle {
    font-size: 19px;
}

.contact {
    text-align: center;
    padding-top: 40px;
}

.contact__title {
    font-size: 22px;
}

.contact__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
input,
textarea {
    color: #fff;
    display: block;
    margin-bottom: 10px;
    padding: 20px;
    border: 2px solid #fff;
    outline: 0;
    background: transparent;
    // background: #e5e5e5;
    border-radius: 5px;
    transition: border 0.4s linear;
    &::placeholder {
        font-size: 14px;
        line-height: 19px;
        color: #fff;
        // color: rgba(51, 51, 51, 0.5);
    }
    &:focus {
        border: 1px solid rgb(36, 57, 240);
    }
}
input {
    max-width: 420px;
    height: 60px;
    width: 33%;
    margin-bottom: 10px;
}
textarea {
    width: 100%;
    height: 120px;
    resize: none;
    margin-bottom: 10px;
}

.form__btn {
    border: none;
    background-color: $main-color;
    color: #fff;
    margin-top: 15px;
}

.footer {
    padding: 50px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer__info {
    display: flex;
    align-items: center;
}

.footer__social {
    margin-left: 30px;
}
.footer__social-link {
    &:nth-child(2) {
        margin: 0 20px;
    }
    img {
        width: 30px;
        height: 30px;
    }
}

.modal {
    background: black;
    padding: 30px;
    text-align: left;
    max-width: 700px;
    margin: 40px auto;
    position: relative;
    border-radius: 30px;
    input {
        max-width: none;
        width: 100%;
    }
    .form__btn {
        width: 100%;
    }
}

.modal__info {
    font-size: 18px;
    margin-bottom: 25px;
}

.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
    -moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
    -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
    -o-transform: translateY(-20px) perspective(600px) rotateX(10deg);
    transform: translateY(-20px) perspective(600px) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: translateY(0) perspective(600px) rotateX(0);
    -moz-transform: translateY(0) perspective(600px) rotateX(0);
    -ms-transform: translateY(0) perspective(600px) rotateX(0);
    -o-transform: translateY(0) perspective(600px) rotateX(0);
    transform: translateY(0) perspective(600px) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;

    -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
    -moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
    -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
    -o-transform: translateY(-10px) perspective(600px) rotateX(10deg);
    transform: translateY(-10px) perspective(600px) rotateX(10deg);
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
    opacity: 0;

    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
}

.icon-menu {
    display: none;
}

/* Media
========================================================================================= */

@media(max-width:1150px){
    .header__content-title {
        font-size: 65px;
        line-height: 75px;
    }
}

@media(max-width:1050px){
    .ido__content{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .ido__content-item{
        max-width: 340px;
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 900px){
    .footer__inner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__info{
        margin-top: 15px;
    }
}

@media (max-width: 800px) {
    .icon-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;

        span {
            position: absolute;
            top: 8px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #fff;

            transition: all 0.2s linear;

            &:first-child {
                top: 0;
            }

            &:last-child {
                top: auto;
                bottom: 0;
            }
        }

        &.active {
            span {
                background-color: #fff;
                transform: scale(0);

                &:first-child {
                    top: 8px;
                    transform: rotate(45deg);
                }

                &:last-child {
                    bottom: 8px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
    .nav__list {
        position: fixed;
        left: 0;
        top: 0;
        background: #000;
        width: 100%;
        height: 100%;
        z-index: 3;
        overflow: auto;
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        transform: translate3d(0, -100%, 0);
        transition: transform 0.3s linear;

        &.active {
            transform: translate3d(0, 0, 0);
        }
    }

    .nav__list-item+.nav__list-item {
        margin-left: 0;
    }

    .nav__list-item{
        margin: 15px 0;
        font-size: 30px;
    }

    .header__inner {
        padding-top: 18px;
    }

    .header__content{
        padding-top: 45px;
        justify-content: center;
        text-align: center;
    }
    .header__content-social{
        justify-content: center;
    }
    .header__content-info {
        width: 100%;
    }
    .header__photo {
        width: 60%;
    }
    .header__content-btn{
        margin-top: 20px;
    }
    .header__content-social{
        margin: 20px 0;
    }
    .header{
        height: auto;
    }
    .ido {
        padding: 40px 0;
    }
    .section__title {
        font-size: 45px;
        margin-bottom: 25px;
    }
    .swipe{
        margin-bottom: 15px;
    }

    .price{
        padding: 40px 0;
    }

    .price__title {
        font-size: 35px;
        line-height: 45px;
    }

    .quote{
        padding: 50px 0;
    }
    .quote__title{
        font-size: 22px;
    }
    .contact__form{
        margin-top: 30px;
    }
    input {
        max-width: none;
        width: 100%;
    }
}

@media(max-width:600px){
    .header__content-title {
        font-size: 40px;
        line-height: 53px;
    }
    .header__content-subtitle {
        font-size: 23px;
        line-height: 40px;
    }
    .header__photo {
        width: 85%;
    }
    .ido__content-item {
        max-width: none;
        width: 100%;
    }
    .section__title {
        font-size: 45px;
        margin-bottom: 25px;
    }
    .ido__content-text {
        padding-top: 5px;
    }
    .ido__content{
        margin-bottom: 10px;
    }
    .price__title {
        font-size: 30px;
        line-height: 40px;
    }
    .price__subtitle {
        font-size: 16px;
        line-height: 23px;
    }
}

@media(max-width:560px){
    .nav__info{
        margin-top: 15px;
    }
    .nav__info-link{
        display: none;
    }
    .ido {
        padding: 40px 0;
    }
}

@media(max-width:500px){
    .footer {
        padding: 35px 0;
        .phone-link{
            display: block;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
    .footer__contact{
        text-align: center;
    }
    
    .footer__info{
        flex-direction: column;
    }
    .footer__social{
        margin-left: 0;
        margin-top: 15px;
    }
    .modal__info{
        font-size: 16px;
    }
    .modal{
        padding: 20px;
    }
}

@media(max-width: 440px){
    .header__content-title{
        font-size: 32px;
    }
    .header__content-subtitle{
        line-height: 34px;
    }
    .section__title{
        font-size: 40px;
    }
    .slick-dots li {
        margin: 0 7px;
        width: 12px;
        height: 12px;
    }
    .price {
        padding: 30px 0;
    }
    .price__title {
        font-size: 24px;
        line-height: 31px;
    }
    .price__subtitle{
        font-size: 15px;
    }
    .quote{
        padding: 30px 0;
    }
    .quote__title{
        font-size: 18px;
    }
    .contact__title {
        font-size: 18px;
    }
    .contact {
        padding-top: 30px;
    }
}
